.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3FB1EC;
    width: max-content;
    padding: 2rem 4rem;
    margin: 2rem auto;
    border-radius: 50px;
}

h2{
    font-size: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 2.25rem;
    margin-bottom: 2rem;
}

form{
    display: flex;
    flex-direction: column;
}

label[for="avatar"]{
    display:flex;
    align-items:center
}

label[for="avatar"] img{
    width: 50px;
    height: 50px;
}

input[type="file"]{
    margin-left: 3.9rem;
    width: auto;
    box-shadow: none;
}

input[type="text"]{
    margin-left: 2.7rem;
}

input[type="email"]{
    margin-left: 3.7rem;
}

input{
    height: 2rem;
    box-shadow: 0px 6px 4px -4px black;
    border: none;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
}

input[type="submit"]{
    margin-left: 7rem;
    background: linear-gradient(90deg, rgba(0,215,209,1) 19%, rgba(0,177,210,1) 100%);
    border-radius: 50px;
    font-size: 1.25rem;
    padding: 1rem;
    line-height: .2rem;
}

input[type="submit"]:hover{
    cursor: pointer;
}

form i{
    margin-right: 1rem;
    width: 17.5px;
    height: 21px;
}

.comment__commentary--text{
    width: 30%;
    background-color: #D9D9D9;
    margin-left: 4rem;
    padding: 1rem;
    line-height: 1.5rem;
}

.container a {
    margin: 2rem 0;
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
}

@media (max-width: 600px) {
    .container{
        margin-inline: 2rem;
        width: auto;
    }
}
