body{
    background-image: url(/img/background_img/article.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    padding: 2rem 0;
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
}

.container{
    margin-left: 5rem;
    margin-bottom: 2rem;
}

.container__article{
    display: flex;
    gap: 300px;
    margin: 2rem 0;
}

h3{
    font-size: 1.5rem;
    font-weight: bold;
    
}

article{
    width: 50%;
    border-bottom: black 2px solid;
}

.image_inside{
    width: 100%;
}

aside{
    width: 15%;
}

aside p{
    font-size: 1.5rem;
    margin: 2rem 0;
}

article p{
    line-height: 1.5rem;
    font-size: 1.25rem;
    margin: 2rem 0;
}

.practical_info{
    font-weight: bold;
    font-size: 2rem;
}

.info{
    font-weight: bold;
}

.author{
    margin-bottom: 2rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: bold;
}

.author .fa-solid{
    color: red;
}

.fa-heart:hover{
    cursor: pointer;
}

.comment__section{
    max-width: 50%;
}

.comment__commentary{
    margin-top: 2rem;
}

.comment__section--link button {
    background-color: #3FB1EC;
    border-style: none;
    padding: .75rem 1rem;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
}

.comment__section--nocomentary{
    background-color: #49B9F3;
    color: white;
    font-size: 1.25rem;
    margin: 1rem 0;
    text-align: center;
    padding: 1rem;
}

.comment__commentary--infos{
    display: flex;
    align-items: center;
}

#name{
    margin: 0 1rem;
}


.comment__commentary--infos img{
    clip-path: circle(50% at 50% 50%);
    width: 50px;
}

.comment__commentary--text{
    background-color: #D9D9D9;
    margin-left: 4rem;
    padding: 1rem;
    line-height: 1.5rem;
}

.comment__section--form{
    margin-top: 1rem;
}

.comment__section--form textarea{
    width: 100%;
    margin-bottom: 1rem;
    height: 10rem;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
}

.no__authenticated{
    text-align: center;
    padding: 3.5rem;
    background-color: gainsboro;
}

.disabled{
    background-color: gainsboro;
    color: black;
}

input[type="submit"]{
    background-color: #49B9F3;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

input[type="submit"]:hover{
    cursor: pointer;
}

@media (max-width:920px) {
    h2{
        font-size: 2rem;
    }
    .image_inside{
        width: 100%;
    }
    .container{
        margin-left: 1rem;
    }
    .container__article{
        flex-direction: column-reverse;
        gap: 4rem;
    }
    article{
        width: 90%;
        flex: 1;
    }
    .practical_info--text{
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-column-gap: 40%;
    }
    aside{
        width: 100%;
    }
    aside p {
        width: 200px;
    }
    .author{
        width: 100%;
        line-height: 2rem;
        display: flex;
        flex-direction: column;
    }
    .comment__section{
        max-width: 90%;
    }
    .no__authenticated{
        padding: 2rem;
    }
}