body{
    background-image: url(/img/background_img/escapade.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.filter{
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
}

.filter  li{
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.filter  li:hover{
    cursor: pointer;
    background-color: #F8BD7F;
}

.fa-circle-xmark{
    color: rgb(110, 23, 23);
}

.fa-circle-xmark:hover{
    cursor: pointer;
}

.dropdown{
    position: relative;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #F2F2F2;
    padding: 1rem;
    z-index: 1;
    min-width: 11rem;
    text-align: center;
    box-shadow: 4px 3px 7px -2px #000000;
}

.minus{
    min-width: 0;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.onClick{
    display: block;
}

.dropdown-content li{
    padding: 1rem;
}

.dropdown:hover i{
    transform: rotate(180deg);
}


.container{
    width: fit-content;
    margin: 10rem auto 4rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 250px;
    align-items: baseline;
}

.article{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.article__img{
    margin: auto;
    position: relative;
}

.article__img--filterOne{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 130px;
    top: 16px;
    background-color: #F8BD7F;
    clip-path: circle(50% at 50% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.article__img--filterTwo{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 70px;
    top: 16px;
    background-color: white;
    clip-path: circle(50% at 50% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.article__img--filterThree{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 10px;
    top: 16px;
    clip-path: circle(50% at 50% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: transparent;
} 

.article__img--img{
    border-radius: 20px;
    width: 100%;
}

.article__info{
    text-align: center;
    margin-top: 1rem;
    line-height: 2.3rem;
}

.article__info > h3{
    font-size: 2rem;
    font-weight: bold;
}

.article__info > p{
    line-height: 2rem;
    margin-top: 1rem;
}

.hidden{
    display: none;
}

@media (max-width: 1024px) {
    .container{
        gap: 100px;
        margin: 10rem 4rem;
    }
}

@media (max-width: 800px) {
    .container{
        grid-template-columns: 1fr;
    }
    .article{
        flex: auto;
        margin: 0 1.5rem;
    }

    .article__img--filterOne{
        width: 40px;
        height: 40px;
    }
    .article__img--filterTwo{
        width: 40px;
        height: 40px;
        font-size: 0.8rem;
    }
    .article__img--filterThree{
        width: 40px;
        height: 40px;
    } 

    .filter{
        flex-direction: column;
        align-items: center;
    }
}