body{
    background-image: url(/img/background_img/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


main{
    margin: 2rem 2rem;
    width: 50%;
}


span{
    font-weight: bold;
}

p{
    margin: 1rem 0;
}