<footer>
    <p><span>Glob'</span>Lyon</p>
    <ul>
        <li><a href="/contact">Nous contacter</a></li>
        <li><a href="/a-propos">A propos</a></li>
        <li><a href="/legale">Mentions légales</a></li>
    </ul>
    <div class="social_media">
        <i class="fa-brands fa-facebook-f fa-xl"></i>
        <i class="fa-brands fa-instagram fa-xl"></i>
        <i class="fa-brands fa-x-twitter fa-xl"></i>
    </div>
</footer>
</body>

</html>