<%- include('partials/header') %>

    <main>
        <div class="intro">
            <h2>Actualités</h2>
            <p>Découvrez toute l'actualité de Lyon en un seul endroit ! Soyez au courant des événements locaux, des
                initiatives citoyennes, des dernières tendances culturelles, et des nouvelles qui façonnent la vie
                lyonnaise. Suivez l'évolution de la ville en temps réel et ne manquez rien de ce qui fait vibrer Lyon !
            </p>
        </div>

        <div class="container">

            <article class="article">
                <div class="article__img">
                    <img class="article__img--img" src="/img/escapade.png" alt="">
                    <div class="article__img--filter">
                        <h3>Actu</h3>
                    </div>
                </div>
            </article>

            <article class="article">
                <div class="article__img">
                    <img class="article__img--img" src="/img/escapade.png" alt="">
                    <div class="article__img--filter">
                        <h3>Actu</h3>
                    </div>
                </div>
            </article>

            <article class="article">
                <div class="article__img">
                    <img class="article__img--img" src="/img/escapade.png" alt="">
                    <div class="article__img--filter">
                        <h3>Actu</h3>
                    </div>
                </div>
            </article>

            <article class="article">
                <div class="article__img">
                    <img class="article__img--img" src="/img/escapade.png" alt="">
                    <div class="article__img--filter">
                        <h3>Actu</h3>
                    </div>
                </div>
            </article>

            <article class="article">
                <div class="article__img">
                    <img class="article__img--img" src="/img/escapade.png" alt="">
                    <div class="article__img--filter">
                        <h3>Actu</h3>
                    </div>
                </div>
            </article>

            <article class="article">
                <div class="article__img">
                    <img class="article__img--img" src="/img/escapade.png" alt="">
                    <div class="article__img--filter">
                        <h3>Actu</h3>
                    </div>
                </div>
            </article>
        </div>

    </main>


    <%- include('partials/footer') %>