<%- include('partials/header') %>


    <main>
        <div class="intro">
            <h2>Nos bonnes adresses</h2>
            <p>Découvrez les meilleures adresses de Lyon pour enrichir vos sorties et séjours. Que vous cherchiez une
                expérience culinaire, une soirée animée, un hébergement confortable ou un moment de détente, nos
                recommandations soigneusement sélectionnées répondront à toutes vos envies.</p>
        </div>
        <ul class="filter">
            <li>Restauration</li>
            <li>Bars/Clubs</li>
            <li>Hébergement</li>
            <li>Bien-être/Santé</li>
        </ul>
        <div class="container">
            <article class="article">
                <img class="article__img" src="/img/restauration.png" alt="">
                <div class="article__info">
                    <span>Restauration</span>
                    <div class="article__info--desc">
                        <h3>Nom activité</h3>
                        <p>Description d'activité courte de 2 lignes</p>
                    </div>
                </div>
            </article>
            <article class="article">
                <img class="article__img" src="/img/clubs.jpg" alt="">
                <div class="article__info">
                    <span>Bars/Clubs</span>
                    <div class="article__info--desc">
                        <h3>Nom activité</h3>
                        <p>Description d'activité courte de 2 lignes</p>
                    </div>
                </div>
            </article>
            <article class="article">
                <img class="article__img" src="/img/hotel.jpg" alt="">
                <div class="article__info">
                    <span>Hébergement</span>
                    <div class="article__info--desc">
                        <h3>Nom activité</h3>
                        <p>Description d'activité courte de 2 lignes</p>
                    </div>
                </div>
            </article>
            <article class="article">
                <img class="article__img" src="/img/hotel.jpg" alt="">
                <div class="article__info">
                    <span>Bien-être/Santé</span>
                    <div class="article__info--desc">
                        <h3>Nom activité</h3>
                        <p>Description d'activité courte de 2 lignes</p>
                    </div>
                </div>
            </article>
        </div>


    </main>

    <%- include('partials/footer') %>