<%- include('partials/header') %>


    <main>
        <h2>Contactez-nous !</h2>
        <p>
            Nous sommes toujours ravis de recevoir vos retours, questions, et suggestions. Que vous ayez une actualité à
            partager, une question à poser, ou un partenariat à proposer, n'hésitez pas à nous contacter.
        </p>

        <address>
            Adresse : <br>
            Glob'Lyon <br>
            123 Rue de la République <br>
            69002 Lyon, France <br>

            <a href="mailto:contact@globlyon.fr"></a>
        </address>

        <p>
            Formulaire de Contact : <br>
            Veuillez remplir le formulaire ci-dessous, et nous vous répondrons dans les plus brefs délais.
        </p>
        <form action="#">
            <label for="name">Nom:</label>
            <input type="text" name="name" id="name" size="5">
            <label for="mail">Email:</label>
            <input type="email" name="mail" id="mail">
            <label for="subject">Sujet:</label>
            <select name="subject" id="subject">
                <option value="">Informations Générales</option>
                <option value="">Proposition d'article</option>
                <option value="">Problème technique</option>
                <option value="">Partenariats et Publicité</option>
                <option value="">Demande de collaboration</option>
                <option value="">Feedback sur le site</option>
            </select>
            <label for="message">Message</label>
            <textarea cols="15" name="message" id="message"></textarea>
            <button type="submit">Envoyer</button>
        </form>
    </main>

    <%- include('partials/footer') %>