<%- include('partials/header') %>

    <main>
        <span>Éditeur du Site</span>
        <p>
            Le site Glob'Lyon est édité par [Nom de la société ou de la personne], situé à [Adresse complète].
            SIRET : [Numéro de SIRET]
            Téléphone : [Numéro de téléphone]
            Email : [Adresse e-mail]
        </p>

        <span>Hébergement du Site</span>
        <p>
            Le site est hébergé par [Nom de l'hébergeur], dont le siège social est situé à [Adresse de l'hébergeur].
            Téléphone : [Numéro de téléphone de l'hébergeur]
            Email : [Adresse e-mail de l'hébergeur]
        </p>

        <span>Propriété Intellectuelle</span>
        <p>
            L'ensemble des éléments présents sur le site Glob'Lyon (textes, images, graphismes, logo, icônes, etc.) sont
            la
            propriété exclusive de [Nom de la société ou de la personne] ou de leurs auteurs respectifs, et sont
            protégés
            par les lois françaises et internationales relatives à la propriété intellectuelle. Toute reproduction,
            distribution, modification, adaptation, retransmission ou publication de ces différents éléments est
            strictement
            interdite sans l'accord écrit préalable de Glob'Lyon.
        </p>

        <span>Responsabilité</span>
        <p>
            Le site Glob'Lyon s'efforce de fournir des informations aussi précises que possible. Toutefois, il ne
            saurait
            être tenu pour responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu'elles
            soient
            de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.
            Les liens hypertextes présents sur le site et pointant vers d'autres ressources sur le réseau Internet ne
            sauraient engager la responsabilité de Glob'Lyon.
        </p>

        <span>Données Personnelles</span>
        <p>
            Conformément au Règlement Général sur la Protection des Données (RGPD) en vigueur en Europe et à la loi
            Informatique et Libertés du 6 janvier 1978 modifiée, vous disposez d'un droit d'accès, de rectification, de
            suppression et d'opposition aux données personnelles vous concernant. Pour exercer ces droits, vous pouvez
            nous
            contacter à [Adresse e-mail de contact pour les données personnelles].
        </p>

        <span>Cookies</span>
        <p>
            Le site Glob'Lyon utilise des cookies pour améliorer l'expérience utilisateur, analyser le trafic et fournir
            des
            fonctionnalités supplémentaires. En naviguant sur le site, vous acceptez l'utilisation de cookies
            conformément à
            notre [Politique de Confidentialité](lien vers la politique de confidentialité).
        </p>

        <span>Loi Applicable</span>
        <p>
            Les présentes mentions légales sont soumises au droit français. En cas de litige, et à défaut d'accord
            amiable,
            le tribunal de [Lieu du tribunal compétent] sera seul compétent.
        </p>
    </main>


    <%- include('partials/footer') %>