<%- include('partials/header') %>

    <main>
        <h2>Se connecter</h2>
        <form action="#" method="get">
            <label for="email" id="email">
                Email :
                <br>
                <input type="email">
            </label>
            <a href="./inscription">Pas encore inscrit ?</a>
            <br>
            <label for="password">
                Mot de passe :
                <br>
                <input type="password" id="password">
            </label>
            <p>Mot de passe oublié ?</p>
            <label for="button" id="btn">
                <input type="button" value="valider" id="button">
            </label>
        </form>

    </main>


    <%- include('partials/footer') %>