<%- include('partials/header') %>

    <main>
        <div class="container">
            <h2>Inscription</h2>
            <form action="#" method="post">
                <label for="pseudo">
                    <i class="fa-regular fa-user fa-lg"></i>
                    <input type="text" id="pseudo" placeholder="Pseudo" name="pseudo">
                </label>
                <label for="email">
                    <i class="fa-solid fa-at fa-lg"></i>
                    <input type="email" id="email" name="email" placeholder="Email">
                </label>
                <label for="password">
                    <i class="fa-solid fa-lock fa-lg"></i>
                    <input type="password" id="password" placeholder="Mot de passe" name="password">
                </label>
                <label for="confpassword">
                    <i class="fa-solid fa-lock fa-lg"></i>
                    <input type="password" id="confpassword" placeholder="Confirmation de mot de passe">
                </label>
                <label for="submit" id="btn">
                    <input type="submit" value="S'inscrire" id="submit">
                </label>
            </form>
            <a href="/login">Vous avez déjà un compte ?</a>
        </div>

    </main>


    <%- include('partials/footer') %>