<%- include('partials/header') %>

    <main>
        <h2>S'inscrire</h2>
        <form action="/inscription" method="POST">
            <label for="email">
                Email :
                <br>
                <input type="email" id="email" name="email">
            </label>
            <br>
            <label for="password">
                Mot de passe :
                <br>
                <input type="password" id="password" name="password">
            </label>
            <label for="confpassword"></label>
            Confirmation de mot de passe :
            <br>
            <input type="password" id="confpassword" name="confpassword">
            </label>
            <label for="button" id="btn">
                <input type="submit" value="valider" id="button">
            </label>
        </form>

    </main>


    <%- include('partials/footer') %>